.jumbotron {
  text-align: center;
  font-family: , cursive;
  background-color: red;
  color: white;
}


#output {
  display: none;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 50px;
}
